@page
@model WebAppComics.Pages.SignIn.forgotPasswordModel
@{
    Layout = "~/Pages/Shared/_LayoutUser.cshtml";
}
<!-- Normal Breadcrumb Begin -->
<section class="normal-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>Quên mật khẩu</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="login spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login__form">
                    <h3>Xác nhận OTP</h3>
                    <form method="post">
                        @ViewData["checkmail"]
                        <div class="input__item">
                            <input type="email" placeholder="Email" name="email">
                            <span class="icon_mail"></span>
                        </div>
                        <input type="submit" value="Gửi OTP" class="site-btn">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Normal Breadcrumb End -->
@*<div class="col-md-4">
    <form method="post">
        <div class="form-group">           
            <tr>
                @ViewData["checkmail"]
                <td>email</td>
                <td>
                    <input type="text" name="email" />
                </td>
            </tr>
            <br />         
            <input type="submit" class="btn btn-primary" value="gữi OTP" />
        </div>  
    </form>
          
</div>*@