@page
@model WebAppComics.Pages.SignIn.ResetPasswordModel
@{
    Layout = "~/Pages/Shared/_LayoutUser.cshtml";
}

<section class="normal-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>Quên mật khẩu</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="signup spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login__form">
                    <h3>Đặt mật khẩu mới</h3>
                    <form method="post">
                        <div class="input__item">
                            <input type="text" placeholder="Username" name="username">
                            <span class="icon_profile"></span>
                        </div>
                        <div class="input__item">
                            <input type="password" placeholder="New Password" name="password">
                            <span class="icon_lock"></span>
                        </div>
                        <div class="input__item">
                            <input type="password" placeholder="Confirm Password" name="paswordConfirm">
                            <span class="icon_lock"></span>
                        </div>
                        <button type="submit" class="site-btn">Xác nhận</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@*<h1>Reset password</h1>
<div class="col-md-4">
    <form method="post">
        <div class="form-group">
            <label>email</label>
            <input type="text" name="email" />
            <br />
            <label>mật khẩu mới</label>          
            <input type="text" name="password" />
            <br />
            <label>xác nhận mật khẩu mới</label>
            <input type="text" name="paswordConfirm" />
        </div>
        <button type="submit" class="btn btn-primary">xác nhận</button>
    </form>
</div>*@