@page
@model WebAppComics.Pages.User.SignIn.SignUpModel

@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Pages/Shared/_LayoutUser.cshtml";
}


<section class="normal-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>Đăng Ký</h2>
                    <p>Chào mừng đến với TVT Comics!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="signup spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login__form" @*asp-validation-summary="ModelOnly"*@>
                    <h3>Đăng ký</h3>
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="input__item">
                            <input asp-for="AccountBonus.Email" type="text" placeholder="Email address"/>
                            <span class="icon_mail"></span>
                          @* <span asp-validation-for="AccountBonus.Email" ></span>*@
                        </div>
                        <div><span asp-validation-for="AccountBonus.Email" style="color:red"></span></div>
                        <div class="input__item">
                            <input asp-for="AccountBonus.AccountName" type="text" placeholder="Username"/>
                            <span class="icon_profile"></span>
                           @* <span asp-validation-for="AccountBonus.AccountName" ></span>*@
                        </div>
                        <div>  <span asp-validation-for="AccountBonus.AccountName" style="color:red"></span></div>
                        <div class="input__item">
                            <input asp-for="AccountBonus.PassWord" type="password" placeholder="Password">
                            <span class="icon_lock"></span>
                           @* <span asp-validation-for="AccountBonus.PassWord"></span>*@
                        </div>
                        <div> <span asp-validation-for="AccountBonus.PassWord" style="color:red"></span></div>
                        <div>
                            <input asp-for="AccountBonus.CategoryAccId" type="hidden" value="1">
                           
                          
                        </div>
                        <button type="submit" class="site-btn">Đăng Ký</button>
                    </form>
                    <h5>Bạn đã có tài khoản? <a asp-page="../SignIn/Login">Đăng nhập!</a></h5>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login__social__links">
                    <h3>Đăng nhập với:</h3>
                    <ul>
                        <li>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i> Sign in With Facebook</a>
                        </li>
                        <li><a href="#" class="google"><i class="fa fa-google"></i> Sign in With Google</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
@*<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Account.AccountName" class="control-label"></label>
                <input asp-for="Account.AccountName" class="form-control" />
                <span asp-validation-for="Account.AccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Email" class="control-label"></label>
                <input asp-for="Account.Email" class="form-control" />
                <span asp-validation-for="Account.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.PassWord" class="control-label"></label>
                <input asp-for="Account.PassWord" class="form-control" />
                <span asp-validation-for="Account.PassWord" class="text-danger"></span>
            </div>
            
           
            <div class="form-group" hidden>
                <label asp-for="Account.CategoryAccId" class="control-label"></label>
                <input asp-for="Account.CategoryAccId" class="form-control"  value="1"/>
                <span asp-validation-for="Account.CategoryAccId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


