@page
@model WebAppComics.Pages.ListChapter.CreateModel
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_LayoutUser.cshtml";

    var comicname = HttpContextAccessor.HttpContext.Session.GetString("ComicName");
    var comicid = HttpContextAccessor.HttpContext.Session.GetString("ComicId");
}

<h3 style="color:white; font-family:'Oswald'">TẠO CHƯƠNG MỚI @comicname</h3>
<div class="row">
    <div class="col-md-4" style="color: white" >
        <form method="post" style="color: white; width:fit-content">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ChapterBonus.ChapterName" class="control-label"></label>
                <input asp-for="ChapterBonus.ChapterName" class="form-control" />
                <span asp-validation-for="ChapterBonus.ChapterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChapterBonus.View" class="control-label"></label>
                <input type="text" asp-for="ChapterBonus.View" class="form-control" value=" 0" readonly />
                <span asp-validation-for="ChapterBonus.View" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChapterBonus.UpdateDay" class="control-label"></label>
                <input type="text"   asp-for="ChapterBonus.UpdateDay" class="form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")"  readonly/>
               @* <span asp-validation-for="ChapterBonus.UpdateDay" class="text-danger"></span>*@
            </div>
            <div class="form-group" hidden>
                <label asp-for="ChapterBonus.ComicId" class="control-label"></label>
                <input asp-for="ChapterBonus.ComicId" class="form-control" value="@comicid"  />
                <span asp-validation-for="ChapterBonus.ComicId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


