@using Microsoft.AspNetCore.Http
@using WebAppComics.Models
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "User_Test";
    Layout = "~/Pages/Shared/_LayoutUser.cshtml";
}
@{
    string accountname = HttpContextAccessor.HttpContext.Session.GetString("AccountName");
    HttpContextAccessor.HttpContext.Session.Remove("AccountName");
}
<ul class="navbar-nav">
    @if (accountname != null)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="" title="Manage">Xin chào @accountname </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="" asp-page="./SignIn/Login" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="">
                <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
            </form>
        </li>
    }
    else

    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="SignUp" asp-page="./SignUp/Create">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="SignIn" asp-page="./SignIn/Login">Login</a>
        </li>
    }
</ul>